* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu',sans-serif;
  line-height: 1.6;
  background: #d8dfea;
  color:#333;
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  
} 

.container {
  max-width: 1100px;
  margin: auto;
  
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.restart-btn {
  background: #1d3977;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.restart-btn:hover {
  background-color: red;
  color: #fff;
  transition: .4s ease-in;
}

header {
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
}

header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.3rem;
  text-align: center;
  column-gap: 1rem;
  text-transform: uppercase; 
  font-weight: 600;
  
}

.score p:first-child {
  background: #ffffff;
  color: #1d3977;
  padding: 1rem 0;
  border-radius: 10px;
}

.score p:last-child {
  background:#999999;
  color: #a52218;
  padding: 1rem 0;
  border-radius: 10px;
}

.choices {
  font-size: 5rem;
}

.choice {
  padding-right: 3rem;
  cursor: pointer;
} 

.choice:hover {
  color: lightslategrey;
}

