* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: fantasy;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-position: center;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 50px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border-bottom: 3px solid orange;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.5s ease-out;
}
header input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location .city {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.location .date {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.current .weather {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1rem;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
.current .temp {
  color: #fff;
  font-size: 4rem;
  margin: 2rem 0;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}
.current .hi-low {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
